<!DOCTYPE html>
<html>
	<head>
		<title>Drake's hydroponic controller</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>Drake's hydroponic controller</h1>
			<h3 id="pumpWaitInfo"></h3>
			<h3 id="pumpInfo"></h3>
			<h3 id="lampWaitInfo"></h3>
			<h3 id="lampInfo"></h3>
			Lamp loop<br>
			<input type="radio" name="lampLoop" id="lampLoopOn"> On 
			<input type="radio" name="lampLoop" id="lampLoopOff"> Off<br>
			Pump loop<br>
			<input type="radio" name="pumpLoop" id="pumpLoopOn"> On 
			<input type="radio" name="pumpLoop" id="pumpLoopOff"> Off<br>
			Lamp<br>
			<input type="radio" name="lamp" id="lampOn"> On 
			<input type="radio" name="lamp" id="lampOff"> Off<br>
			Pump<br>
			<input type="radio" name="pump" id="pumpOn"> On 
			<input type="radio" name="pump" id="pumpOff"> Off<br>
		</div>
		<!--<img style="-webkit-user-select: none;" id="webcam">-->
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script>
			//$("#webcam").attr("src", "//" + window.location.hostname + ":8081");
			var currentState;
			var resetButtons = function(){
				$("#lampLoopOff").prop("checked", false);
				$("#lampLoopOn").prop("checked", false);
				$("#pumpLoopOff").prop("checked", false);
				$("#pumpLoopOn").prop("checked", false);
				$("#pumpOff").prop("checked", false);
				$("#pumpOn").prop("checked", false);
				$("#lampOff").prop("checked", false);
				$("#lampOn").prop("checked", false);
			}
			
			function formatSeconds(seconds){ //https://stackoverflow.com/a/17781037
				var date = new Date(1970,0,1);
				date.setSeconds(seconds);
				return date.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
			}
			
			var socket = io();
			$( "#lampLoopOff" ).click(function() {
				socket.emit('lampLoop', {state: false});
			});
			$( "#lampLoopOn" ).click(function() {
				socket.emit('lampLoop', {state: true});
			});
			$( "#pumpLoopOff" ).click(function() {
				socket.emit('pumpLoop', {state: false});
			});
			$( "#pumpLoopOn" ).click(function() {
				socket.emit('pumpLoop', {state: true});
			});
			$( "#lampOff" ).click(function() {
				socket.emit('lamp', {state: false});
			});
			$( "#lampOn" ).click(function() {
				socket.emit('lamp', {state: true});
			});
			$( "#pumpOff" ).click(function() {
				socket.emit('pump', {state: false});
			});
			$( "#pumpOn" ).click(function() {
				socket.emit('pump', {state: true});
			});
			socket.on('state', function(data){
				currentState = data;
				resetButtons();
				if(data.pumpLoop){
					$("#pumpLoopOn").prop("checked", true);
				}else{
					$("#pumpLoopOff").prop("checked", true);
				}
				if(data.lampLoop){
					$("#lampLoopOn").prop("checked", true);
				}else{
					$("#lampLoopOff").prop("checked", true);
				}
				if(data.pump){
					$("#pumpOn").prop("checked", true);
				}else{
					$("#pumpOff").prop("checked", true);
				}
				if(data.lamp){
					$("#lampOn").prop("checked", true);
				}else{
					$("#lampOff").prop("checked", true);
				}
			});
			socket.on('photoAvailable', function(){
				var d = new Date();
				$('#webcamImg').attr("src", "/webcam?"+d.getTime());
			});
			setInterval(function(){ //quick n dirty
				var time = new Date().getTime();
				
				var pumpTimeLeft = Math.floor((currentState.pumpTime+currentState.pumpDelay - time)/1000);
				var pumpWaitTimeLeft = Math.floor((currentState.pumpWaitTime+currentState.pumpWaitDelay - time)/1000);
				
				var lampTimeLeft = Math.floor((currentState.lampTime+currentState.lampDelay - time)/1000);
				var lampWaitTimeLeft = Math.floor((currentState.lampWaitTime+currentState.lampWaitDelay - time)/1000);
				
				if(pumpTimeLeft > 0 && currentState.pumpLoop){
					$("#pumpInfo").html("Pumping for " + formatSeconds(pumpTimeLeft));
				}else{
					$("#pumpInfo").html("");	
				}
				if(pumpWaitTimeLeft > 0 && currentState.pumpLoop){
					$("#pumpWaitInfo").html("Pump waiting for " + formatSeconds(pumpWaitTimeLeft));
				}else{
					$("#pumpWaitInfo").html("");	
				}
				
				if(lampTimeLeft > 0 && currentState.lampLoop){
					$("#lampInfo").html("Lamp on for " + formatSeconds(lampTimeLeft));
				}else{
					$("#lampInfo").html("");	
				}
				if(lampWaitTimeLeft > 0 && currentState.lampLoop){
					$("#lampWaitInfo").html("Lamp off for " + formatSeconds(lampWaitTimeLeft));
				}else{
					$("#lampWaitInfo").html("");	
				}
			}, 500);
		</script>
	</body>
</html>
