<!DOCTYPE html>
<html>
	<head>
		<title>Drake's hydroponic controller</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-slider.min.css">
	</head>
	<body>
		<div class="container-fluid">
			<h1>Drake's hydroponic controller</h1>
			<div id="svgCont">
				<svg id="dayClock" width="300" height="300">
					<circle cx="150" cy="150" r="100"></circle>
					<!--<path id="circlePath" fill-opacity="0" d="M 150, 150 m -125, 0 a 125,125 0 1,0 250,0 a 125,125 0 1,0 -250,0"/>-->
					<path id="dayTime" fill="none" stroke="#F5C151" stroke-width="20" />
					<path id="nightTime" fill="none" stroke="#2C485D" stroke-width="20" />
					<path id="currentTime" fill="none" stroke="#FFFFFF" stroke-width="20" />
					<path id="lampTime" fill="none" stroke-opacity="0.2" stroke="#000000" stroke-width="10" />
				</svg>
			</div>
			Lamp off time: <input id="lampOffSlider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="86400" data-slider-step="1800" data-slider-value="[0,86400]"/>
			<h3 id="pumpWaitInfo"></h3>
			<h3 id="pumpInfo"></h3>
			<h3 id="lampWaitInfo"></h3>
			<h3 id="lampInfo"></h3>
			Lamp loop<br>
			<input type="radio" name="lampLoop" id="lampLoopOn"> On 
			<input type="radio" name="lampLoop" id="lampLoopOff"> Off<br>
			Pump loop<br>
			<input type="radio" name="pumpLoop" id="pumpLoopOn"> On 
			<input type="radio" name="pumpLoop" id="pumpLoopOff"> Off<br>
			Lamp<br>
			<input type="radio" name="lamp" id="lampOn"> On 
			<input type="radio" name="lamp" id="lampOff"> Off<br>
			Pump<br>
			<input type="radio" name="pump" id="pumpOn"> On 
			<input type="radio" name="pump" id="pumpOff"> Off<br>
		</div>
		<!--<img style="-webkit-user-select: none;" id="webcam">-->
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-slider.min.js"></script>
		<script>
		
		$("#lampOffSlider").slider();
		
		var cx = 150;
		var cy = 150;
		
		var r = 120;
		
		var lampOnSeconds = 61200; //5:00pm
		var lampOffSeconds = 32400; //9:00am
		
		function map(x, in_min, in_max, out_min, out_max) { //https://gist.github.com/remy/5213884
			return (x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
		}
		
		function tfToAMPM(tf){
			return tf > 12 ? (tf - 12) : tf;
		}
		
		function polarToCartesian(centerX, centerY, radius, angleInDegrees) { //https://stackoverflow.com/a/18473154
			var angleInRadians = (angleInDegrees-90) * Math.PI / 180.0;
		
			return {
				x: centerX + (radius * Math.cos(angleInRadians)),
				y: centerY + (radius * Math.sin(angleInRadians))
			};
		}
		
		function describeArc(x, y, radius, startAngle, endAngle){
		
			var start = polarToCartesian(x, y, radius, endAngle);
			var end = polarToCartesian(x, y, radius, startAngle);
		
			var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";
		
			var d = [
				"M", start.x, start.y, 
				"A", radius, radius, 0, largeArcFlag, 0, end.x, end.y
			].join(" ");
		
			return d;       
		}
		
		for(let i = 1; i <= 24; i++){
			let timeRads = map(i, 0, 24, 0, 2*Math.PI);
			let adjTimeRads = timeRads - Math.PI/2;
			let x = cx + r * Math.cos(adjTimeRads)
			let y = cy + r * Math.sin(adjTimeRads)
			$("#dayClock").append('<text id="digit-' + i + '" x="' + x + '" y="' + y + '" font-family="Verdana" font-size="10">' + tfToAMPM(i) + '</text>');
			$("#svgCont").html($("#svgCont").html());
			let width = $("#digit-" + i)[0].getBBox().width;
			let height = $("#digit-" + i)[0].getBBox().height;
			$("#digit-" + i).attr("x",x-(width/2));
			$("#digit-" + i).attr("y",y+(height/3));
		}
		
		$.getJSON("https://api.sunrise-sunset.org/json?lat=47.621509&lng=-65.624173&formatted=0", function( data ) {
			var sunrise = data.results.sunrise;
			var sunset = data.results.sunset;
			
			var sunriseDate = new Date(sunrise);
			var sunsetDate = new Date(sunset);
			var currentDate = new Date();
			
			var sunriseSecs = sunriseDate.getSeconds() + (60 * (sunriseDate.getMinutes() + (60 * sunriseDate.getHours())));
			var sunsetSecs = sunsetDate.getSeconds() + (60 * (sunsetDate.getMinutes() + (60 * sunsetDate.getHours())));
			var currentSecs = currentDate.getSeconds() + (60 * (currentDate.getMinutes() + (60 * currentDate.getHours())));
		
			let sunriseDegrees = map(sunriseSecs, 0, 86400, 0, 360);
			let sunsetDegrees = map(sunsetSecs, 0, 86400, 0, 360);
			let currentDegrees = map(currentSecs, 0, 86400, 0, 360);
			document.getElementById("dayTime").setAttribute("d", describeArc(150, 150, 100, sunriseDegrees, sunsetDegrees));
			document.getElementById("nightTime").setAttribute("d", describeArc(150, 150, 100, sunsetDegrees, sunriseDegrees));
			document.getElementById("currentTime").setAttribute("d", describeArc(150, 150, 100, currentDegrees-0.5, currentDegrees+0.5));
		
		});
		
		updateLampTime(lampOnSeconds, lampOffSeconds);
		function updateLampTime(secondsOn, secondsOff){
			let lampOnDegrees = map(secondsOn, 0, 86400, 0, 360);
			let lampOffDegrees = map(secondsOff, 0, 86400, 0, 360);
			document.getElementById("lampTime").setAttribute("d", describeArc(150, 150, 120, lampOffDegrees, lampOnDegrees));
		}
		</script>
		<script>
			//$("#webcam").attr("src", "//" + window.location.hostname + ":8081");
			var currentState;
			var resetButtons = function(){
				$("#lampLoopOff").prop("checked", false);
				$("#lampLoopOn").prop("checked", false);
				$("#pumpLoopOff").prop("checked", false);
				$("#pumpLoopOn").prop("checked", false);
				$("#pumpOff").prop("checked", false);
				$("#pumpOn").prop("checked", false);
				$("#lampOff").prop("checked", false);
				$("#lampOn").prop("checked", false);
			}
			
			function formatSeconds(seconds){ //https://stackoverflow.com/a/17781037
				var date = new Date(1970,0,1);
				date.setSeconds(seconds);
				return date.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
			}
			
			var socket = io();
			$( "#lampLoopOff" ).click(function() {
				socket.emit('lampLoop', {state: false});
			});
			$( "#lampLoopOn" ).click(function() {
				socket.emit('lampLoop', {state: true});
			});
			$( "#pumpLoopOff" ).click(function() {
				socket.emit('pumpLoop', {state: false});
			});
			$( "#pumpLoopOn" ).click(function() {
				socket.emit('pumpLoop', {state: true});
			});
			$( "#lampOff" ).click(function() {
				socket.emit('lamp', {state: false});
			});
			$( "#lampOn" ).click(function() {
				socket.emit('lamp', {state: true});
			});
			$( "#pumpOff" ).click(function() {
				socket.emit('pump', {state: false});
			});
			$( "#pumpOn" ).click(function() {
				socket.emit('pump', {state: true});
			});
			socket.on('state', function(data){
				currentState = data;
				resetButtons();
				if(data.pumpLoop){
					$("#pumpLoopOn").prop("checked", true);
				}else{
					$("#pumpLoopOff").prop("checked", true);
				}
				if(data.lampLoop){
					$("#lampLoopOn").prop("checked", true);
				}else{
					$("#lampLoopOff").prop("checked", true);
				}
				if(data.pump){
					$("#pumpOn").prop("checked", true);
				}else{
					$("#pumpOff").prop("checked", true);
				}
				if(data.lamp){
					$("#lampOn").prop("checked", true);
				}else{
					$("#lampOff").prop("checked", true);
				}
			});
			socket.on('photoAvailable', function(){
				var d = new Date();
				$('#webcamImg').attr("src", "/webcam?"+d.getTime());
			});
			setInterval(function(){ //quick n dirty
				var time = new Date().getTime();
				
				var pumpTimeLeft = Math.floor((currentState.pumpTime+currentState.pumpDelay - time)/1000);
				var pumpWaitTimeLeft = Math.floor((currentState.pumpWaitTime+currentState.pumpWaitDelay - time)/1000);
				
				var lampTimeLeft = Math.floor((currentState.lampTime+currentState.lampDelay - time)/1000);
				var lampWaitTimeLeft = Math.floor((currentState.lampWaitTime+currentState.lampWaitDelay - time)/1000);
				
				if(pumpTimeLeft > 0 && currentState.pumpLoop){
					$("#pumpInfo").html("Pumping for " + formatSeconds(pumpTimeLeft));
				}else{
					$("#pumpInfo").html("");	
				}
				if(pumpWaitTimeLeft > 0 && currentState.pumpLoop){
					$("#pumpWaitInfo").html("Pump waiting for " + formatSeconds(pumpWaitTimeLeft));
				}else{
					$("#pumpWaitInfo").html("");	
				}
				
				if(lampTimeLeft > 0 && currentState.lampLoop){
					$("#lampInfo").html("Lamp on for " + formatSeconds(lampTimeLeft));
				}else{
					$("#lampInfo").html("");	
				}
				if(lampWaitTimeLeft > 0 && currentState.lampLoop){
					$("#lampWaitInfo").html("Lamp off for " + formatSeconds(lampWaitTimeLeft));
				}else{
					$("#lampWaitInfo").html("");	
				}
			}, 500);
		</script>
	</body>
</html>
